.webpage-header {
    margin: 10px 60px 10px;
}



@media (max-width: 767px) {
    .webpage-header {
        margin: 10px 50px 10px;
    }
}

@media (max-width: 575px) {
    .webpage-header {
        margin: 10px 30px 10px;
    }
}

@media (max-width: 425px) {
    .webpage-header {
        margin: 10px 25px 10px;
    }
}

.webpage-header.landing nav .navbar-nav .nav-item a {}