.webpage-header {
    margin: 10px 60px 10px;
}



.webpage-header .book-btn.new {
    background: transparent;
    position: relative;
    z-index: 1;
    outline: 0;
    padding: 12px 20px;
}


.webpage-header .book-btn.new:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    /* border thickness */
    background: linear-gradient(95.08deg, #4361ee 11.21%, #738bff 90.73%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

@media (max-width: 767px) {
    .webpage-header {
        margin: 10px 50px 10px;
    }
}

@media (max-width: 575px) {
    .webpage-header {
        margin: 10px 30px 10px;
    }
}

@media (max-width: 425px) {
    .webpage-header {
        margin: 10px 25px 10px;
    }
}

.webpage-header.landing nav .navbar-nav .nav-item a {}