/* ---- Banner Start ---- */

.turning_banner.sub {
    /* padding: 100px 100px 100px; */
}

.turning_banner.sub::before {
    top: 113%;
}

.turning_banner.sub .description span {
    color: rgba(76, 112, 255, 1);
}

.turning_banner.sub .title {
    padding-bottom: 50px;
}

.turning_banner.sub .company {
    padding: 200px 0 0;
}

.turning_banner.sub .company h5 {
    position: relative;
    font-size: 20px;
}


@media (max-width: 1399px) {
    .turning_banner.sub .company {
        padding: 195px 0 0;
    }
}

@media (max-width: 1199px) {
    .turning_banner.sub .company {
        padding: 170px 0 0;
    }
}

@media (max-width: 767px) {
    .turning_banner.sub .company {
        padding: 140px 0 0;
    }

    .turning_banner.sub::before {
        top: 100%;
    }
}

@media (max-width: 575px) {
    .turning_banner.sub .company {
        padding: 120px 0 0;
    }
}

@media (max-width: 475px) {}

@media (max-width: 425px) {}

@media (max-width: 400px) {
    .turning_banner.sub::before {
        top: 94%;
    }
}

@media (max-width: 375px) {
    .turning_banner.sub .company {
        padding: 110px 0 0;
    }

    .turning_banner.sub::before {
        top: 92%;
    }
}


/* ---- Banner End ---- */


/* ---- Key Features Start ---- */
.brands.sub {
    padding-block: 20px 20px;
    background: linear-gradient(90deg, rgb(82 110 242 / 1%) 0%, rgb(134 164 255 / 1%) 100%);
}

.brands.sub .description {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 26px;
    margin: 25px auto 60px;
    color: #E0E0E0;
    max-width: 65% !important;
}

.brands.sub .description,
.brands.sub .desc {
    max-width: 100%;
}

.brands.sub .desc {
    font-weight: 600;
    font-size: 22px;
}

.brands .drives .content {
    background: #060820;
    border: 1px solid #526EF21A;
}

.brands.sub .drives .content .title {
    font-family: var(--popping);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    border: 0;
    margin-bottom: 0;
    padding: 0 0 20px;
}

.brands.sub .drives .content .shortdesc {
    margin: 0;
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #C2C2C2;
    text-align: left;
}

.brands.sub .drives .content .shortdesc span {
    font-weight: 600;
}

@media (max-width: 1399px) {
    .brands.sub .desc {
        font-size: 21px;
    }

    .brands.sub .drives .content .title {
        font-size: 21px;
        line-height: 26px;
        padding: 0 0 18px;
    }
}

@media (max-width: 1199px) {
    .brands.sub .drives .content .shortdesc {
        font-size: 18px;
    }

    .brands.sub .description {
        max-width: 100% !important;
        font-size: 20px;
    }

    .brands.sub .drives .content .title {
        font-size: 19px;
        line-height: 26px;
        padding: 0 0 18px;
    }

    .brands.sub .drives .content .shortdesc {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .brands.sub .drives .content {
        padding: 30px;
    }

    .brands.sub .drives .content .shortdesc {
        font-size: 17px;
    }

    .brands.sub .description {
        margin: 25px auto 40px;
    }
}

@media (max-width: 767px) {
    .brands.sub .desc {
        font-size: 20px;
    }

    .brands.sub .drives .content {
        padding: 24px;
    }

    .brands.sub .description {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .brands.sub .desc {
        font-size: 18px;
    }

    .brands.sub .drives .content {
        padding: 22px;
    }

    .brands.sub .drives .content .shortdesc {
        font-size: 16px;
    }


    .brands.sub .description {
        font-size: 16px;
        margin: 20px auto 33px;
    }

    .brands.sub .drives .content .title {
        font-size: 18px;
        line-height: 24px;
        padding: 0 0 14px;
        margin: 0;
    }

    .brands.sub .drives .content .shortdesc {
        font-size: 16px;
    }
}

@media (max-width: 425px) {}

/* ---- Key Features End ---- */


/* ---- Why-Pathdata End ---- */
.why_pathdata.sub {
    background-image: url("../../../assets/images/board-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 120px;
}

.why_pathdata.sub::after {
    content: none;
}

.why_pathdata.sub .title {
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 30px;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 15px 25px;
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.why_pathdata.sub .description {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    max-width: 62%;
    margin: auto;
    color: #E0E0E0;
    margin-bottom: 40px;
}

.why_pathdata.sub .content {
    background: linear-gradient(123.15deg, #060820 2.79%, #0E134D 94%);
    border: 1px solid #86A4FF26;
    padding: 40px;
    border-radius: 20px;
    height: 100%;
}

.why_pathdata.sub .content .main-title {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 20px;
    background: linear-gradient(178.68deg, #FFFFFF 10.37%, #526EF2 146.85%);
    -webkit-background-clip: text;
    color: transparent;
}

.why_pathdata.sub .content ul {
    margin-top: 24px;
}

.why_pathdata.sub .content ul li {
    background-image: none;
    padding-left: 0;
    margin-bottom: 30px;
    display: block;
}

.why_pathdata.sub .content ul li:last-child {
    margin-bottom: 0;
}


.why_pathdata.sub .content ul li .que {
    font-family: var(--popping);
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.why_pathdata.sub .content ul li .que span {
    color: rgba(76, 112, 255, 1);
}


.why_pathdata.sub .content ul li .ans {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #C2C2C2;
}

.why_pathdata.sub .content ul li .ans span {
    font-weight: 600;
}

@media (max-width: 1399px) {
    .why_pathdata.sub {
        padding-bottom: 100px;
    }

    .why_pathdata.sub .description {
        max-width: 80%;
    }

    .why_pathdata.sub .content ul li .que {
        font-size: 21px;
    }

}

@media (max-width: 1199px) {
    .why_pathdata.sub {
        padding-bottom: 90px;
    }

    .why_pathdata.sub .description {
        font-size: 18px;
    }

    .why_pathdata.sub .content .main-title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .why_pathdata.sub .content ul li .que {
        font-size: 19px;
    }

    .why_pathdata.sub .content ul li .ans {
        font-size: 17px;
    }
}

@media (max-width: 991px) {
    .why_pathdata.sub .content .title {
        font-size: 19px;
        margin-bottom: 20px;
    }


    .why_pathdata.sub .title {
        font-size: 17px;
    }


    .why_pathdata.sub .content .main-title {
        font-size: 28px;
    }

    .why_pathdata.sub .content ul li .que {
        font-size: 19px;
    }

    .why_pathdata.sub .content ul li .ans {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    .why_pathdata.sub {
        padding-bottom: 60px;
    }

    .why_pathdata.sub .title {
        padding: 13px 20px;
    }

    .why_pathdata.sub .description {
        font-size: 17px;
    }

    .why_pathdata.sub .content .main-title {
        font-size: 24px;
    }

    .why_pathdata.sub .content ul li {
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .why_pathdata.sub {
        padding-bottom: 30px;
    }

    .why_pathdata.sub .title {
        font-size: 16px;
    }

    .why_pathdata.sub .description {
        font-size: 16px;
    }

    .why_pathdata.sub .content .title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .why_pathdata.sub .content .main-title {
        font-size: 23px;
    }

    .why_pathdata.sub .content ul li .que {
        font-size: 18px;
    }

    .why_pathdata.sub .content ul li .ans {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .why_pathdata.sub {
        padding-bottom: 10px;
    }

    .why_pathdata.sub .content .main-title {
        font-size: 22px;
    }
}



/* ---- Why-Pathdata End ---- */