/* ---- Banner Start ---- */

.new_banner {
    padding: 80px 100px 60px;
    background-image: url('../../../assets/images/home/background1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.new_banner::before {
    content: '';
    position: absolute;
    top: 112%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 109%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 50%;
    z-index: 0;
    background: linear-gradient(180deg, #1C266A 0%, #010317 24.41%);
}

.new_banner .squre {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 4px;
    height: 4px;
}

.new_banner .squre.s1 {
    top: 15%;
    left: 13%;
}

.new_banner .squre.s2 {
    top: 9%;
    right: 13%;
}

.new_banner .squre.s3 {
    top: 35%;
    left: 3%;
}

.new_banner .squre.s4 {
    top: 34%;
    right: 3%;
}

.new_banner .squre.s5 {
    top: 50%;
    left: 16%;
}

.new_banner .squre.s6 {
    top: 60%;
    right: 13%;
}

.new_banner .left {
    max-width: 100%;
    margin: auto;
}

.new_banner .left .logo {}

.new_banner .left .title {
    font-family: var(--popping);
    color: #fff;
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 20px;
}

.new_banner .left .title span {
    background: linear-gradient(180deg, #FFFFFF 16.26%, #526EF2 122.76%);
    -webkit-background-clip: text;
    color: transparent;
}

.new_banner .left .description {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 40px;
    color: #E0E0E0;
}

.new_banner .left .main-button {
    outline: 0;
    background: linear-gradient(95.08deg, #4361ee 11.21%, #738bff 90.73%);
    padding-inline: 40px;
}


/* .new_banner .left .description{

} */

.new_banner .company {
    padding: 201px 0 0;
}

.new_banner .company h5 {
    position: relative;
}

.new_banner .vision {
    padding: 200px 0 0;
}

.new_banner .vision .description {
    margin-bottom: 0;
    max-width: 75%;
}

.new_banner .vision .description span {
    background: linear-gradient(90deg, rgba(134, 164, 255, 0.27) 0%, rgba(2, 4, 24, 0) 100%);
    color: #BDC9FF;
}




@media (max-width: 1399px) {
    .new_banner {
        padding: 80px 80px 70px;
    }

    .new_banner .vision {
        padding: 200px 0 0;
    }

    .new_banner .vision .description {
        max-width: 90%;
    }
}

@media (max-width: 1199px) {
    .new_banner {
        padding: 60px 60px 60px;
    }

    .new_banner::before {
        width: 121%;
    }

    .new_banner .vision {
        padding: 200px 0 0;
    }

    .book-btn {
        font-size: 18px;
    }

    .new_banner .left .title {
        font-size: 45px;
        /* margin-bottom: 20px; */
    }


    .new_banner .left .description {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .new_banner::before {
        width: 137%;
        top: 112%;
    }
}


@media (max-width: 767px) {
    .new_banner .vision {
        padding: 130px 0 0;
    }

    .new_banner::before {
        width: 137%;
        top: 108%;
    }

    .new_banner {
        padding: 50px 50px 50px;
    }

    .new_banner .left .title {
        font-size: 38px;
        margin-bottom: 15px;
    }

    .new_banner .left .description {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .new_banner .vision {
        padding: 110px 0 0;
    }

    .new_banner::before {
        top: 108%;
    }

    .new_banner {
        padding: 40px 30px 40px;
    }

    .book-btn {
        font-size: 16px;
    }

    .new_banner .left .title {
        font-size: 32px;
    }

    .new_banner .left .description {
        font-size: 16px;

    }

    .new_banner .left .buttons {
        /* display: flex;
        flex-wrap: wrap;
        gap: 20px; */
        padding-bottom: 30px;
    }
}

@media (max-width: 475px) {
    .new_banner .vision {
        padding: 100px 0 0;
    }

    .new_banner::before {
        width: 160%;
        top: 105%;
    }

    .new_banner .left .description {
        padding-bottom: 16px;
    }
}

@media (max-width: 425px) {
    .new_banner .vision {
        padding: 80px 0 0;
    }

    .new_banner {
        padding: 40px 25px 40px;
    }

    .new_banner .left .title {
        font-size: 28px;
    }
}

@media (max-width: 375px) {
    .new_banner::before {
        width: 160%;
        top: 105%;
    }

    .new_banner .vision {
        padding: 80px 0 0;
    }
}



/* ---- Banner End ---- */



/* ---- Step Start ---- */
.step {
    padding: 0px 100px 90px;
}

.step .box {
    background: #060820;
    border: 1px solid #86A4FF26;
    border-radius: 12px;
    padding: 30px 22px;
    transition: all 0.3s ease;
}

.step.startup-program .box:hover {
    background: linear-gradient(95.08deg, #4361ee 11.21%, #738bff 90.73%);
}

.step.startup-program .box:hover img {
    filter: brightness(0) invert(1);

}

.step.startup-program .box:hover .description {
    color: #fff;
}


.step .box .num {
    background: linear-gradient(178.2deg, #FFFFFF 23.77%, #526EF2 75.35%);
    -webkit-background-clip: text;
    color: transparent;

    font-family: var(--popping);
    font-weight: 400;
    font-size: 88px;
    line-height: 136%;
    /* color: red; */
}

.step .box .title {
    padding-block: 10px 20px;
    font-family: var(--popping);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.step .box .description {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #C2C2C2;
}

.step .box .description ul {
    padding-left: 30px;
}

.step .box .description ul li {
    list-style: disc;
}


.step .step-tabs {
    gap: 20px;
    margin-bottom: 40px;

    overflow-x: auto !important;
    white-space: nowrap;
}

.step .step-tabs .step-tab {
    padding: 15px 25px;
    background: transparent;
    border: 1px solid #FFFFFF24;
    cursor: pointer;
    border-radius: 100px;
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    white-space: nowrap;
}

.step .step-tabs .step-tab.active {
    background: linear-gradient(90deg, #526EF2 0%, #86A4FF 100%);
}

.step.startup .box {
    background: #06082057;
}


.step.startup .box .num {
    font-size: 22px;
    background: linear-gradient(180deg, #FFFFFF 16.26%, #526EF2 122.76%);
    -webkit-background-clip: text;
    color: transparent;
}

.step .box .title {
    font-size: 22px;
    background: linear-gradient(180deg, #FFFFFF 16.26%, #526EF2 122.76%);
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width: 1399px) {
    .step {
        padding: 0px 80px 90px;
    }

    .step .box .num {
        font-size: 80px;
        line-height: 120%;
    }

    .step .box .title {
        padding-block: 10px 18px;
        font-size: 21px;
        line-height: 26px;
    }
}

@media (max-width: 1199px) {
    .step {
        padding: 0px 60px 70px;
    }

    .step .box {
        padding: 22px 22px;
    }

    .step .box .num {
        font-size: 70px;
        line-height: 100%;
    }

    .step .box .title {
        padding-block: 8px 14px;
        font-size: 19px;
        line-height: 24px;
    }

    .step .box .description {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 991px) {
    .step .step-tabs {
        margin-bottom: 30px;
    }
}


@media (max-width: 767px) {
    .step {
        padding: 0px 50px 60px;
    }

    .step .step-tabs .step-tab {
        font-size: 16px;
        padding: 14px 24px;
    }
}

@media (max-width: 575px) {
    .step {
        padding: 0px 30px 50px;
    }

    .step .box {
        padding: 22px 22px;
    }

    .step .box .num {
        font-size: 70px;
        line-height: 100%;
    }

    .step .box .title {
        padding-block: 8px 12px;
        font-size: 18px;
        line-height: 24px;
    }

    .step .box .description {
        font-size: 16px;
        line-height: 20px;
    }

    .step .step-tabs {
        margin-bottom: 25px;
    }

    .step .step-tabs .step-tab {
        font-size: 15px;
        padding: 13px 23px;
    }
}

@media (max-width: 425px) {
    .step {
        padding: 0px 25px 40px;
    }

    .step .step-tabs {
        margin-bottom: 20px;
    }
}

/* ---- Step End ---- */



/* ---- Vision Start ---- */
.vision {
    padding: 20px 100px 40px;
    /* background: linear-gradient(90deg, rgb(82 110 242 / 1%) 0%, rgb(134 164 255 / 1%) 100%); */
    position: relative;
}

.vision.s {
    background-image: url("../../../assets/images/cruels.png");
    background-repeat: no-repeat;
    background-size: 100% 85%;
}


.vision .title {
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    padding: 15px 25px;
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.vision .title span {
    color: rgba(76, 112, 255, 1);
}


.vision .description {
    font-family: var(--popping);
    font-size: 26px;
    font-weight: 400;
    max-width: 64%;
    margin: auto;
    color: #FFFFFF;
    margin-block: 25px 30px;
}

.vision .description.s {
    font-size: 36px;
}

.vision .description span {
    background: linear-gradient(178.68deg, #FFFFFF 10.37%, #526EF2 146.85%);
    -webkit-background-clip: text;
    color: transparent;
}

.vision.startup-program .description.s {
    font-size: 32px;
    max-width: 74%;
}

.vision.startup-program .description.s span.px-2 {
    background: linear-gradient(90deg, rgba(134, 164, 255, 0.27) 0%, rgba(2, 4, 24, 0) 100%);
    color: #BDC9FF;
}

.vision .images {
    margin-top: 50px;
}



.vision .lines {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-block: 60px;
}

.vision .drives .gradient {
    border: 1px solid;
    border-radius: 100px;
    border-image: linear-gradient(90deg, #526EF2, #86A4FF) 1;

    padding: 10px 14px;
}

.vision .drives .gradient p {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #E0E0E0;
    margin-bottom: 0;
}



.vision .drives .gradient-border {
    background: linear-gradient(90deg, #526EF2, #86A4FF);
    border-radius: 100px;
    padding: 1px;
    width: fit-content;
    margin: auto;
    display: inline-block;
    overflow: hidden;
}

.vision .drives .content {
    border-radius: 100px;
    padding: 12px 20px;
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #E0E0E0;
    white-space: normal;
    background: rgba(1, 3, 23, 1);
}


@media (max-width: 1399px) {
    .vision {
        padding: 20px 80px 20px;
    }

    .vision .description {
        max-width: 90%;
    }
}

@media (max-width: 1199px) {
    .vision {
        padding: 10px 60px 20px;
    }

    .vision .description {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .vision .description {
        margin-block: 25px 30px;
    }

    .vision .description.s {
        font-size: 32px;
    }

    .vision.startup-program .description.s {
        font-size: 28px;
        max-width: 84%;
    }

    .vision .drives .content {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .vision .title {
        font-size: 17px;
    }

    .vision .description.s {
        font-size: 28px;
    }

    .vision.startup-program .description.s {
        font-size: 24px;
    }

    .vision .images {
        margin-top: 40px;
    }

    .vision .images img {
        width: 55px;
        height: 55px;
    }
}


@media (max-width: 767px) {
    .vision {
        padding: 0 50px 20px;
    }

    .vision .lines {
        margin-block: 40px;
    }

    .vision .title {
        padding: 13px 20px;
    }

    .vision .description {
        font-size: 17px;
    }

    .vision .description.s {
        font-size: 24px;
    }

    .vision.startup-program .description.s {
        font-size: 20px;
    }

    .vision .drives .content {
        padding: 12px 14px;
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .vision {
        padding: 0 30px 20px;
    }

    .vision .title {
        font-size: 16px;
    }

    .vision .description {
        font-size: 16px;
    }

    .vision .description.s {
        font-size: 20px;
    }

    .vision.startup-program .description.s {
        font-size: 17px;
    }

    .vision .drives .content {
        font-size: 14px;
    }

    .vision .images {
        margin-top: 33px;
    }

    .vision .images img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 425px) {
    .vision {
        padding: 0 25px 10px;
    }

    .vision .description.s {
        font-size: 18px;
    }

    .vision.startup-program .description.s {
        font-size: 16px;
    }

    .vision .images img {
        width: 45px;
        height: 45px;
    }
}

/* ---- Vision End ---- */




/* ---- Brands Start ---- */
.brands {
    background-image: url("../../../assets/images/board-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;

    padding: 20px 100px 160px;
    position: relative;
}


.brands .squre {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 4px;
    height: 4px;
}

.brands .squre.s1 {
    top: 9%;
    left: 13%;
}

.brands .squre.s2 {
    top: 15%;
    right: 13%;
}

.brands .squre.s3 {
    top: 40%;
    left: 1.5%;
}

.brands .squre.s4 {
    top: 60%;
    right: 3%;
}

.brands .squre.s5 {
    top: 96%;
    left: 13%;
}

.brands .squre.s6 {
    top: 96%;
    right: 22%;
}



.brands .title {
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 30px;
    width: fit-content;
    padding: 15px 25px;
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.brands .title span {
    color: rgba(76, 112, 255, 1);
}

.brands .desc {
    font-family: var(--popping);
    font-size: 26px;
    font-weight: 400;
    max-width: 62%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.brands .description {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    /* max-width: 62%; */
    color: #E0E0E0;
    margin-bottom: 40px;
}



.brands .drives .box {
    border-radius: 16px;
    padding: 1px;
    height: 100%;
}

.brands .drives .content {
    border-radius: 16px;
    padding: 50px 30px 30px;
    border: 1px solid #86A4FF26;
    background: linear-gradient(123.15deg, #060820 2.79%, #0E134D 94%);
    max-height: 100%;
    height: 100%;
    position: relative;
}


.brands .drives .content h3 {
    font-family: var(--popping);
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
    margin-block: 50px 10px;
}

.brands .drives .content h3 span {
    background: linear-gradient(149.9deg, #FFFFFF -38.6%, #526EF2 76.39%);
    color: rgba(76, 112, 255, 1);

    background-image: url("../../../assets/images/iq.png");
    color: #BDC9FF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.brands .drives .content .shortdesc {
    font-family: var(--popping);
    font-weight: 500;
    font-size: 22px;
    color: #E0E0E0;
    line-height: 30px;
    margin: 10px 0 20px;
}


.brands .drives .content p {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #E0E0E0;
    max-width: 88%;
    margin-bottom: 0;
}

.brands .drives .content button {
    position: absolute;
    right: 22px;
    bottom: 30px;
}

.brands .drives .content .buttons {
    transform: translate(-50%, 50px);
    left: 50%;
}

@media (max-width: 1399px) {
    .brands {
        padding: 70px 80px 110px;
    }

    .brands .desc,
    .brands .description {
        max-width: 80%;
    }
}

@media (max-width: 1299px) {
    .brands .drives .box {}

    .brands .drives .content {
        padding: 35px;
    }

    .brands .drives .content h3 {
        font-size: 38px;
        margin-block: 35px 10px;
    }

    .brands .drives .content .shortdesc {
        font-size: 20px;
        line-height: 26px;
    }

    .brands .drives .content .buttons {
        transform: translate(-50%, 45px);
    }
}

@media (max-width: 1199px) {
    .brands {
        padding: 70px 60px 90px;
    }

    .brands .desc {
        font-size: 22px;
    }

    .brands .description {
        font-size: 18px;
    }

    .brands .drives .content .shortdesc {
        font-size: 19px;
        line-height: 26px;
    }

    .brands .drives .content p {
        font-size: 17px;
    }
}

@media (max-width: 991px) {
    .brands .title {
        font-size: 17px;
        margin: 0 auto 30px;
    }

    .brands .desc {
        max-width: 100%;
        color: #FFFFFF;
        margin-bottom: 18px;
    }

    .brands .description {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .brands .drives .content {
        padding: 28px;
    }

    .brands .drives .content .brans-img {
        width: 80px;
        height: 80px;
    }

    .brands .drives .content h3 {
        font-size: 32px;
        margin-block: 25px 10px;
    }
}


@media (max-width: 767px) {
    .brands {
        padding: 60px 50px 80px;
    }

    .brands .title {
        padding: 13px 20px;
    }

    .brands .desc {
        font-size: 21px;
    }

    .brands .description {
        font-size: 17px;
    }

    .brands .drives .content h3 {
        font-size: 32px;
    }

    .brands .drives .content .shortdesc {
        font-size: 19px;
        line-height: 26px;
    }

    .brands .drives .content p {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .brands {
        padding: 50px 30px 50px;
    }

    .brands .title {
        font-size: 16px;
        margin: 0 auto 20px;

    }

    .brands .desc {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .brands .description {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .brands .drives .content {
        padding: 30px;
    }

    .brands .drives .content .brans-img {
        width: 70px;
        height: 70px;
    }

    .brands .drives .content h3 {
        font-size: 28px;
    }

    .brands .drives .content .shortdesc {
        font-size: 18px;
    }

    .brands .drives .content p {
        font-size: 16px;
    }

    .brands .drives .content .buttons {
        transform: translate(-50%, 40px);
    }

    .brands .drives .content button img {
        width: 48px;
        height: 48px;
    }

    .brands .drives .content button {
        right: 14px;
        bottom: 14px;
    }
}

@media (max-width: 425px) {
    .brands {
        padding: 40px 25px 30px;
    }

    .brands .drives .content {
        padding: 20px;
    }

    .brands .drives .content .brans-img {
        width: 55px;
        height: 55px;
    }

    .brands .drives .content h3 {
        font-size: 26px;
    }

    .brands .drives .content .shortdesc {
        font-size: 17px;
    }

    .brands .drives .content p {
        font-size: 15px;
    }

    .brands .drives .content .buttons {
        transform: translate(-50%, 30px);
    }
}


/* ---- Brands End ---- */




/* ---- Inevitable Start ---- */
.inevitable {
    padding: 100px 100px 145px;
    position: relative;
}

.inevitable .squre {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 4px;
    height: 4px;
}

.inevitable .squre.s1 {
    top: 15%;
    left: 13%;
}

.inevitable .squre.s2 {
    top: 15%;
    right: 13%;
}

.inevitable .squre.s3 {
    top: 60%;
    left: 3%;
}

.inevitable .squre.s4 {
    top: 60%;
    right: 3%;
}



.inevitable .title {
    font-family: var(--popping);
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.inevitable .description {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    max-width: 62%;
    color: #E0E0E0;
    margin: auto;
    padding-bottom: 50px;
}

@media (max-width: 1399px) {
    .inevitable {
        padding: 60px 80px 120px;
    }
}

@media (max-width: 1299px) {
    .inevitable .description {
        max-width: 80%;
    }
}

@media (max-width: 1199px) {
    .inevitable {
        padding: 50px 60px 110px;
    }

    .inevitable .title {
        font-size: 34px;
    }

    .inevitable .description {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .inevitable {
        padding: 40px 50px 100px;
    }

    .inevitable .title {
        font-size: 32px;
    }

    .inevitable .description {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .inevitable {
        padding: 30px 30px 90px;
    }

    .inevitable .title {
        font-size: 28px;
    }

    .inevitable .description {
        font-size: 16px;
    }

    .inevitable .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 425px) {
    .inevitable {
        padding: 30px 25px 80px;
    }

    .inevitable .title {
        font-size: 24px;
    }
}


/* ---- Inevitable End ---- */