.contact.landing {
    padding: 80px 100px 120px;
    background: none;
}

.contact.landing .title {
    font-family: var(--popping);
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 25px;

    background: linear-gradient(180deg, #FFFFFF 16.26%, #526EF2 122.76%);
    -webkit-background-clip: text;
    color: transparent;
}

.contact.landing .description {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    max-width: 100%;
    color: #E0E0E0;
}


.contact.landing .contact-form {
    border-radius: 16px;
}

.contact.landing .contact-form form input,
.contact.landing .contact-form form textarea {
    font-weight: 400;
    font-size: 16px;
}

.contact.landing .contact-form form .submit .submitreq-btn {
    width: 100%;
    max-width: 170px;
    outline: none;
}



.contact.landing .contact-form form label .input-group {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    width: 100%;
    padding: 17px 15px;
}

.contact.landing .contact-form form label .input-group .txt {
    font-family: var(--popping);
    font-size: 18px;
    font-weight: 400;
    max-width: 100%;
    color: #BDBDBD;

    margin: 10px 0;
}

.contact.landing .contact-form form label .input-group .main-button {
    cursor: pointer !important;
}

.contact.landing .contact-form form label .input-group .main-button input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer !important;
    height: 100%;
    width: 100%;
}


.contact.landing .contact-form form label .input-group .submitreq-btn {
    background: linear-gradient(95.08deg, #4361EE 11.21%, #738BFF 90.73%);
    width: 100%;
    max-width: 170px;
}


@media (max-width: 1399px) {
    .contact.landing {
        padding: 60px 80px 120px;
    }
}

@media (max-width: 1199px) {
    .contact.landing {
        padding: 60px 60px 110px;
    }

    .contact.landing .title {
        font-size: 45px;
        margin-bottom: 20px;
    }

    .contact.landing .description {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .contact.landing {
        padding: 50px 50px 100px;
    }

    .contact.landing .title {
        font-size: 38px;
        margin-bottom: 15px;
    }

    .contact.landing .description {
        font-size: 17px;
    }
}

@media (max-width: 991px) {}

@media (max-width: 575px) {
    .contact.landing {
        padding: 40px 30px 90px;
    }

    .contact.landing .title {
        font-size: 32px;
    }

    .contact.landing .description {
        font-size: 16px;
    }

    .contact.landing .contact-form {
        margin: 40px auto 0;
    }
}

@media (max-width: 425px) {
    .contact.landing {
        padding: 40px 25px 80px;
    }

    .contact.landing .title {
        font-size: 28px;
    }
}




/* ---- Contact Start ---- */
.contact-info {
    padding: 80px 100px 40px;
    position: relative;
}


.contact-info .squre {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 4px;
    height: 4px;
}

.contact-info .squre.s1 {
    top: 28%;
    left: 13%;
}

.contact-info .squre.s2 {
    top: 28%;
    right: 13%;
}

.contact-info .squre.s3 {
    top: 68%;
    left: 3%;
}

.contact-info .squre.s4 {
    top: 68%;
    right: 3%;
}

.contact-info .squre.s5 {
    top: 105%;
    left: 13%;
}

.contact-info .squre.s6 {
    top: 105%;
    right: 22%;
}

.contact-info .info {}

.contact-info .info h1 {
    font-family: var(--popping);
    font-size: 55px;
    font-weight: 500;
    background: linear-gradient(180deg, #FFFFFF 16.26%, #526EF2 122.76%);
    -webkit-background-clip: text;
    color: transparent;
}

.contact-info .info .description {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    color: #E0E0E0;
    max-width: 75%;
    margin: 25px auto 30px;
}

.contact-info .box {
    background: linear-gradient(90deg, #526EF2, #86A4FF);
    border-radius: 16px;
    padding: 1px;
    height: 100%;
}

.contact-info .box .content {
    border-radius: 16px;
    padding: 30px;
    background-color: rgba(1, 3, 23, 1);

    max-height: 100%;
    height: 100%;
}

.contact-info .box .content h3 {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 20px;
    color: #E0E0E0;
    margin: 10px 0 12px;
}

.contact-info .box .content .shortdesc {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}

.contact-info .box .content .shortdesc:hover {
    text-decoration: none;
}


@media (max-width: 1399px) {
    .contact-info {
        padding: 60px 80px 10px;
    }

    .contact-info .info .description {
        max-width: 100%;
    }
}

@media (max-width: 1299px) {
    .contact-info .box .content {
        padding: 30px 40px;
    }

    .contact-info .box .content h3 {
        font-size: 22px;
    }

    .contact-info .box .content .shortdesc {
        font-size: 20px;
    }
}


@media (max-width: 1199px) {
    .contact-info {
        padding: 60px 60px 20px;
    }

    .contact-info .info h1 {
        font-size: 45px;
    }

    .contact-info .info .description {
        font-size: 18px;
        margin: 20px auto 30px;
    }
}

@media (max-width: 991px) {
    .contact-info .box .content {
        padding: 30px 30px;
    }

    .contact-info .box .content h3 {
        font-size: 20px;
        margin: 8px 0 10px;
    }

    .contact-info .box .content .shortdesc {
        font-size: 18px;
    }
}


@media (max-width: 767px) {
    .contact-info {
        padding: 50px 50px 20px;
    }

    .contact-info .info h1 {
        font-size: 38px;
    }

    .contact-info .info .description {
        font-size: 17px;
        margin: 15px auto 30px;
    }

    .contact-info .box .content {
        padding: 24px 20px;
    }
}

@media (max-width: 575px) {
    .contact-info {
        padding: 40px 30px 10px;
    }

    .contact-info .info h1 {
        font-size: 32px;
    }

    .contact-info .info .description {
        font-size: 16px;
    }

    .contact-info .box .content {
        padding: 24px 20px;
    }

    .contact-info .box .content h3 {
        font-size: 18px;
        margin: 6px 0 8px;
    }

    .contact-info .box .content .shortdesc {
        font-size: 17px;
    }
}

@media (max-width: 425px) {
    .contact-info {
        padding: 40px 25px 10px;
    }

    .contact-info .info h1 {
        font-size: 28px;
    }
}

/* ---- Contact End ---- */