/* ---- Contact Start ---- */
.contact-info {
    padding: 100px 100px 0;
}

.contact-info .info {}

.contact-info .info h1 {
    font-family: var(--popping);
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.contact-info .info .description {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    color: #E0E0E0;
    max-width: 75%;
}

.contact-info .box {
    background: linear-gradient(90deg, #526EF2, #86A4FF);
    border-radius: 16px;
    padding: 1px;
    height: 100%;
}

.contact-info .box .content {
    border-radius: 16px;
    padding: 30px 40px;
    background-color: rgba(1, 3, 23, 1);

    max-height: 100%;
    height: 100%;
}

.contact-info .box .content h3 {
    font-family: var(--popping);
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    margin: 10px 0 12px;
}

.contact-info .box .content .shortdesc {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 22px;
    color: #E0E0E0;
}



/* ---- Contact End ---- */


.contact.landing {
    padding: 100px 100px 145px;
    background: none;
}

.contact.landing .title {
    font-family: var(--popping);
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.contact.landing .description {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    max-width: 100%;
    color: #E0E0E0;
}

.contact.landing .contact-form form input,
.contact.landing .contact-form form textarea {
    font-weight: 400;
    font-size: 16px;
}

.contact.landing .contact-form form .submit .submitreq-btn {
    width: 100%;
    max-width: 170px;
}



.contact.landing .contact-form form label .input-group {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    width: 100%;
    padding: 17px 15px;
}

.contact.landing .contact-form form label .input-group .txt {
    font-family: var(--popping);
    font-size: 18px;
    font-weight: 400;
    max-width: 100%;
    color: #BDBDBD;

    margin: 10px 0;
}

.contact.landing .contact-form form label .input-group .main-button {
    cursor: pointer !important;
}

.contact.landing .contact-form form label .input-group .main-button input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer !important;
    height: 100%;
    width: 100%;
}


.contact.landing .contact-form form label .input-group .submitreq-btn {
    background: linear-gradient(95.08deg, #4361EE 11.21%, #738BFF 90.73%);
    width: 100%;
    max-width: 170px;
}