/* ---- Meet-Team Start ---- */
.meet_team {
    padding: 80px 100px 120px;

}

.meet_team .title {
    font-family: var(--popping);
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.meet_team .description {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    color: #E0E0E0;
    margin-bottom: 40px;
}

.meet_team .box {
    background: linear-gradient(90deg, #526EF2, #86A4FF);
    border-radius: 16px;
    padding: 1.5px;
    height: 100%;
}

.meet_team .content {
    border-radius: 16px;
    background-color: rgba(1, 3, 23, 1);

    max-height: 100%;
    height: 100%;
}


.meet_team .content .image {
    /* height: 200px; */
}

.meet_team .content .image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}


.meet_team .content .info {
    padding: 20px;
}


.meet_team .content h3 {
    font-family: var(--popping);
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.meet_team .content .shortdesc {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #E0E0E0;
    margin: 6px 0 15px;
}




@media (max-width: 1399px) {
    .meet_team {
        padding: 60px 80px 120px;
    }
}

@media (max-width: 1199px) {
    .meet_team {
        padding: 60px 60px 110px;
    }

    .meet_team .title {
        font-size: 34px;
    }

    .meet_team .description {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .meet_team {
        padding: 50px 50px 100px;
    }

    .meet_team .title {
        font-size: 32px;
    }

    .meet_team .description {
        font-size: 17px;
    }
}

@media (max-width: 991px) {
    .meet_team .content h3 {
        font-size: 20px;
    }

    .meet_team .content .shortdesc {
        font-size: 17px;
        margin: 6px 0 10px;
    }
}

@media (max-width: 767px) {
    .meet_team .content h3 {
        font-size: 19px;
    }

    .meet_team .content .shortdesc {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .meet_team {
        padding: 40px 30px 90px;
    }

    .meet_team .title {
        font-size: 28px;
    }

    .meet_team .description {
        font-size: 16px;
    }

    .meet_team .contact-form {
        margin: 40px auto 0;
    }

    .meet_team .content h3 {
        font-size: 18px;
    }

    .meet_team .content .shortdesc {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .meet_team {
        padding: 40px 25px 80px;
    }

    .meet_team .title {
        font-size: 24px;
    }
}


/* ---- Meet-Team End ---- */