/* ---- Banner Start ---- */

.turning_banner {
    padding: 80px 100px 90px;
    background-image: url('../../../assets/images/home/background1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.turning_banner::before {
    content: '';
    position: absolute;
    top: 106%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 106%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 50%;
    z-index: 0;
    background: linear-gradient(180deg, #1C266A 0%, #010317 24.41%);
}

.turning_banner.w::before {
    top: 103%;
}

.turning_banner .squre {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 4px;
    height: 4px;
}

.turning_banner .squre.s1 {
    top: 18%;
    left: 13%;
}

.turning_banner .squre.s2 {
    top: 15%;
    right: 13%;
}

.turning_banner .squre.s3 {
    top: 43%;
    left: 3%;
}

.turning_banner .squre.s4 {
    top: 40%;
    right: 3%;
}

.turning_banner .squre.s5 {
    top: 90%;
    left: 13%;
}

.turning_banner .squre.s6 {
    top: 90%;
    right: 22%;
}


.turning_banner .left {
    max-width: 100%;
    margin: auto;
}

.turning_banner .left .logo {
    margin-bottom: 20px;
    text-align: left;
}

.turning_banner .left .title {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    color: #E0E0E0;
    margin: 0;
    padding-bottom: 50px;
}

.turning_banner .left .description.f {
    font-family: var(--popping);
    color: #fff;
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 25px;
}

.turning_banner .left .description.f span.iq {
    background: linear-gradient(149.9deg, #FFFFFF -38.6%, #526EF2 76.39%);
    color: rgba(76, 112, 255, 1);

    background-image: url("../../../assets/images/banner-iq.png");
    color: #BDC9FF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7px;
}

.turning_banner .left .description.f div {
    background: linear-gradient(180deg, #FFFFFF 16.26%, #526EF2 122.76%);
    -webkit-background-clip: text;
    color: transparent;
}

.turning_banner .left .description {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    color: #E0E0E0;
    margin-bottom: 60px;
}

.turning_banner .left .main-button {
    outline: 0;
    background: linear-gradient(95.08deg, #4361ee 11.21%, #738bff 90.73%);
    padding-inline: 40px;
}

.turning_banner .vision {
    padding: 200px 0 0;
}


.turning_banner .vision .description {
    font-family: var(--popping);
    font-size: 26px;
    font-weight: 400;
    max-width: 75%;
    margin: auto;
    color: #FFFFFF;
    margin-block: 25px 30px;
}

@media (max-width: 1399px) {
    .turning_banner {
        padding: 80px 80px 80px;
    }

    .turning_banner .vision {
        padding: 195px 0 0;
    }

    .turning_banner .vision .description {
        max-width: 90%;
    }

    .turning_banner.w::before {
        top: 101%;
        width: 119%;
    }
}

@media (max-width: 1199px) {
    .turning_banner {
        padding: 60px 60px 60px;
    }

    .turning_banner::before {
        top: 115%;
        width: 118%;
    }

    .turning_banner.w::before {
        top: 103%;
        width: 125%;
    }

    .turning_banner .vision {
        padding: 170px 0 0;
    }

    .turning_banner .left .title {
        font-size: 18px;
    }

    .turning_banner .left .description {
        font-size: 18px;
    }

    .turning_banner .left .description.f {
        font-size: 45px;
        margin-bottom: 20px;
    }

    .turning_banner .vision .description {
        font-size: 18px;
        margin-block: 25px 0;
    }
}

@media (max-width: 991px) {
    .turning_banner::before {
        top: 102%;
        width: 130%;
    }
}

@media (max-width: 767px) {
    .turning_banner {
        padding: 50px 50px 50px;
    }

    .turning_banner::before {
        top: 103%;
        width: 145%;
    }

    .turning_banner.w::before {
        top: 101%;
        width: 150%;
    }

    .turning_banner .left .title {
        font-size: 17px;
    }

    .turning_banner .left .description {
        font-size: 17px;
    }

    .turning_banner .left .description.f {
        font-size: 38px;
        margin-bottom: 15px;
    }

    .turning_banner .vision .description {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .turning_banner {
        padding: 40px 30px 40px;
    }

    .turning_banner.w::before {
        top: 99%;
        width: 175%;
    }

    .turning_banner .vision {
        padding: 150px 0 0;
    }

    .turning_banner .left .title {
        font-size: 16px;
    }

    .turning_banner .left .description {
        font-size: 16px;
    }

    .turning_banner .left .description.f {
        font-size: 32px;
    }

    .turning_banner .vision .description {
        font-size: 16px;
        margin-block: 20px 0;
    }
}

@media (max-width: 475px) {
    .turning_banner .left .description {
        padding-bottom: 16px;
    }

    .turning_banner.sub .title {
        padding-bottom: 37px;
    }

    .turning_banner::before {
        top: 105%;
        width: 165%;
    }

    .turning_banner .vision {
        padding: 130px 0 0;
    }
}

@media (max-width: 425px) {
    .turning_banner {
        padding: 40px 25px 40px;
    }

    .turning_banner .left .title {
        font-size: 24px;
    }

    .turning_banner.engine .left .title {
        font-size: 16px;
    }

      .turning_banner.wd .left .title {
        font-size: 16px;
    }

    .turning_banner .left .description.f {
        font-size: 28px;
    }
}

@media (max-width: 375px) {
    .turning_banner::before {
        top: 106%;
        width: 190%;
    }

    .turning_banner .vision {
        padding: 130px 0 0;
    }
}



/* ---- Banner End ---- */

.lines.turningdata {
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    background: linear-gradient(90deg, #526EF2, #86A4FF);
    padding: 0.5px;
    margin: 80px 100px 0;
    opacity: 50%;
}

@media (max-width: 1399px) {
    .lines.turningdata {
        margin: 50px 80px 0;
    }
}

@media (max-width: 1199px) {
    .lines.turningdata {
        margin: 40px 60px 0;
    }
}

@media (max-width: 767px) {
    .lines.turningdata {
        margin: 30px 50px 0;
    }
}

@media (max-width: 575px) {
    .lines.turningdata {
        margin: 30px 30px 0;
    }
}

@media (max-width: 425px) {
    .lines.turningdata {
        margin: 30px 25px 0;
    }
}


.new_banner.turningdata {
    background-image: none !important;
}

.new_banner.turningdata::before {
    content: none;
}

@media (min-width: 1400px) {
    .new_banner.turningdata {
        padding: 60px 100px 100px;
    }
}



.step.waypoint .intro {
    padding: 30px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step.waypoint .intro .title {
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 30px;
    width: fit-content;
    padding: 15px 25px;
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.step.waypoint .intro .description {
    font-family: var(--popping);
    font-weight: 400;
    font-size: 26px;
    margin: 25px auto 0;
    color: #E0E0E0;
    text-align: center;
}


.step.waypoint .box .description {
    margin-bottom: 35px;
}

.step.waypoint .box .main-button.new {
    background: transparent;
    position: relative;
    z-index: 1;
    outline: 0;
}

.step.waypoint .box .main-button.new:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    /* border thickness */
    background: linear-gradient(95.08deg, #4361ee 11.21%, #738bff 90.73%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}


@media (max-width: 1199px) {
    .step.waypoint .intro .description {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .step.waypoint .intro .title {
        font-size: 17px;
    }
}


@media (max-width: 767px) {
    .step.waypoint .intro .description {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .step.waypoint .intro .title {
        font-size: 16px;
    }

    .step.waypoint .intro .description {
        font-size: 16px;
        margin: 20px auto 0;
    }
}


.vision.turningdata .description {
    max-width: 85%;
}

.vision.turningdata .description span {
    font-weight: 700;
}


.inevitable.turningdata .description {
    max-width: 85%;
}

.inevitable.turningdata .description:last-of-type {
    max-width: 100%;
}


.brands.sub.waypoint .drives .col-xxl-6:nth-child(odd) {
    position: relative;
}

.brands.sub.waypoint .drives .col-xxl-6:nth-child(odd)::after {
    content: '';
    position: absolute;
    top: 12px;
    right: 0;
    width: 1px;
    height: 72%;
    background: linear-gradient(180deg, #526EF2 0%, #B5C7FF 100%);
}

@media (max-width: 1399px) {
    .brands.sub.waypoint .drives .col-xxl-6:nth-child(odd)::after {
        height: 80%;
        top: 10px;
    }
}

@media (max-width: 1299px) {
    .brands.sub.waypoint .drives .col-xxl-6:nth-child(odd)::after {
        height: 70%;
        top: 25px;
    }
}

@media (max-width: 991px) {
    .brands.sub.waypoint .drives .col-xxl-6:nth-child(odd)::after {
        height: 65%;
        top: 38px;
    }
}

@media (max-width: 575px) {
    .brands.sub.waypoint .drives .col-xxl-6:nth-child(odd)::after {
        height: 0;
    }
}



.brands.sub.waypoint .drives .content {
    background: none;
    border: none;
    padding: 19px 27px 0;
    position: relative;
}

.brands.sub.waypoint .drives .content .every-step {
    position: absolute;
    left: 0;
    top: 0;
}


.brands.sub.waypoint .drives .content .shortdesc {
    padding-bottom: 25px;
}


.brands.sub.waypoint .drives .content .main-button {
    width: fit-content;
    outline: 0;
    background: none;
    padding-inline: 24px;

    background:
        linear-gradient(#0B0C1A, #0B0C1A) padding-box,
        linear-gradient(90deg, #526EF2, #86A4FF) border-box;
    border: 1px solid transparent;
    border-radius: 999px;

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}





.brands.sub.waypoint.s {
    padding-block: 100px 100px;
}

@media (max-width: 1399px) {
    .brands.sub.waypoint.s {
        padding-block: 70px;
    }
}

@media (max-width: 1199px) {
    .brands.sub.waypoint.s {
        padding-block: 40px;
    }
}

@media (max-width: 767px) {
    .brands.sub.waypoint.s {
        padding-block: 30px;
    }
}

@media (max-width: 575px) {
    .brands.sub.waypoint.s {
        padding-block: 20px;
    }
}



.brands.sub.waypoint .drives .col-sm-6 {
    position: relative;
}


.brands.sub.waypoint.s .drives .col-sm-6::after {
    content: '';
    position: absolute;
    top: 35px;
    right: 0;
    width: 1px;
    height: 65%;
    background: linear-gradient(180deg, #526EF2 0%, #B5C7FF 100%);
}

.brands.sub.waypoint.s .drives .col-sm-6:last-of-type:after {
    width: 0;
}

@media (max-width: 991px) {
    .brands.sub.waypoint.s .drives .col-sm-6:nth-of-type(2)::after {
        height: 0;
    }
}

@media (max-width: 575px) {

    .brands.sub.waypoint.s .drives .col-sm-6:nth-of-type(1)::after,
    .brands.sub.waypoint.s .drives .col-sm-6:nth-of-type(3)::after {
        height: 0;
    }
}

.brands.sub.waypoint .drives .col-sm-6 .content .title {
    padding: 20px 0 10px;
}







.brands.sub.setsus {
    padding-inline: 0;
    padding-bottom: 60px;
}

.brands.sub.setsus .left-arrow,
.brands.sub.setsus .right-arrow {
    background-color: transparent;
    border: 0;
}

.brands.sub.setsus .drives .box {
    transition: all 0.3s ease;
}

.brands.sub.setsus .drives .box.active {}





@media (max-width: 1199px) {
    .brands.sub.setsus {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .brands.sub.setsus {
        padding-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .brands.sub.setsus {
        padding-bottom: 0px;
    }
}





.brands.sub.setsus .drives {
    display: flex;
    flex-wrap: nowrap;
    padding-inline: 10px;
    gap: 130px;
    position: relative;

    margin-bottom: 10px;
}

.brands.sub.setsus .drives .col-xxl-4 {
    scroll-snap-align: center;
}

.brands.sub.setsus .box {
    opacity: 0.3;
    transition: all 0.3s ease;
}

.brands.sub.setsus .box.active {
    opacity: 1;
    /* border: 1px solid transparent; */
    /* background: linear-gradient(#111327, #111327) padding-box,
        linear-gradient(90deg, #526EF2, #B5C7FF) border-box; */
}

.brands.sub.setsus .box.inactive {
    opacity: 0.3;
}

.carousel-wrapper {
    position: relative !important;
    /* width: 100%; */
    overflow: hidden;
}

/* .brands.sub.setsus .carousel-wrapper .left-arrow,
.brands.sub.setsus .carousel-wrapper .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent;
    border: none;
    padding: 0;
}

.brands.sub.setsus .carousel-wrapper .left-arrow {
    left: 27%;
}

.brands.sub.setsus .carousel-wrapper .right-arrow {
    right: 27%;
} */






@media (max-width: 991px) {
    .brands.sub.setsus .carousel-wrapper .left-arrow {
        left: 8%;
    }

    .brands.sub.setsus .carousel-wrapper .right-arrow {
        right: 8%;
    }
}























/* ---- AWS-Service Start ---- */
.aws_service {
    padding: 100px 100px 100px;
}

.aws_service .title {
    font-family: var(--popping);
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
}


.aws_service .aws-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
}

.aws_service .aws-wrapper .aws-tabs {
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    padding-right: 45px;
    gap: 20px;
    position: relative;
}

.aws_service .aws-wrapper .aws-tabs::after {
    content: '';
    position: absolute;
    top: 17px;
    right: 22px;
    width: 1px;
    height: 45px;
    background-color: #86A4FF;
    transform: rotate(90deg);
}

.aws-tab {
    padding: 20px 30px;
    border-left: 4px solid transparent;
    cursor: pointer;
    border: 1px solid #86A4FF;
    border-radius: 100px;

    font-family: var(--popping);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}

.aws-tab:hover {
    background: linear-gradient(90deg, #526EF2 0%, #86A4FF 100%);
}

.aws-tab.active {
    background: linear-gradient(90deg, #526EF2 0%, #86A4FF 100%);

    color: #ffffff;
}

.aws-content-section {
    position: relative;
}

.aws-arrows {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
    gap: 10px;
}

.arrow-btn {
    background: transparent;
    border: 1px solid #4c6ef5;
    color: #ffffff;
    font-size: 18px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: background 0.3s;
}

.arrow-btn:hover {
    background-color: #4c6ef5;
}

.aws-content {
    border: 1px solid #86A4FF;
    padding: 40px;
    border-radius: 16px;
}

.aws-intro {
    font-family: var(--popping);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #E0E0E0;
    margin-bottom: 35px !important;
}

.aws-intro.t {
    font-weight: 600;
}


.aws-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aws-list li {
    position: relative;
    padding-left: 24px;
}

.aws-list .aws-intro.li:last-child {
    margin-bottom: 0px;
}

.aws-list li::before {
    content: url("../../../assets/images/aws_right_arrow.png");
    position: absolute;
    left: 0;
    color: #E0E0E0;
    font-size: 25px;
}

@media (min-width: 1596px) {
    .aws-content-section {
        flex: 1;
    }
}

@media (max-width: 1399px) {
    .aws_service {
        padding: 50px 80px 50px;
    }
}

@media (max-width: 1199px) {
    .aws_service {
        padding: 40px 60px 40px;
    }

    .aws_service .title {
        font-size: 34px;
    }

    .aws-content {
        padding: 35px;
    }

    .aws-intro {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 35px !important;
    }

    .aws-tab {
        padding: 18px 24px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 991px) {
    .aws-content {
        padding: 30px;
    }

    .aws-intro {
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 35px !important;
    }

    .aws-tab {
        padding: 16px 20px;
        font-size: 16px;
    }

    .aws_service .aws-wrapper .aws-tabs {
        gap: 15px;
    }
}

@media (max-width: 767px) {
    .aws_service {
        padding: 30px 50px 30px;
    }

    .aws_service .title {
        font-size: 32px;
    }

    .aws-content {
        padding: 26px;
    }

    .aws-intro {
        font-size: 16px;
        margin-bottom: 28px !important;
    }

    .aws_service .aws-wrapper {
        display: block;
    }

    .aws_service .aws-wrapper .aws-tabs {
        padding-right: 0;
        padding-bottom: 30px;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        overflow-x: auto !important;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }

    .aws_service .aws-wrapper .aws-tabs::after {
        display: none;
    }

    .aws-content-section::before {
        content: '';
        position: absolute;
        top: -45px;
        width: 1px;
        height: 45px;
        background-color: #86A4FF;
        transform: translateX(-50%);
        left: 50%;
    }

    .aws-tab {
        padding: 16px 20px;
        font-size: 16px;
        flex: 1;
        white-space: nowrap;
    }
}

@media (max-width: 767px) {
    .aws-tabs {
        padding-inline: 50vw;
        /* padding: 0 50vw 0; */
        /* padding-left: 50vw; */
        /* padding-right: 50vw !important;   */
    }
}

@media (max-width: 575px) {
    .aws_service {
        padding: 30px 30px 30px;
    }

    .aws_service .title {
        font-size: 28px;
    }

    .aws-intro {
        margin-bottom: 18px !important;
    }

    .aws_service .aws-wrapper {
        margin-top: 30px;
    }

    .aws_service .aws-wrapper .aws-tabs {
        gap: 10px;
    }
}

@media (max-width: 425px) {
    .aws_service {
        padding: 30px 25px 10px;
    }

    .aws_service .title {
        font-size: 24px;
    }

}

/* ---- AWS-Service End ---- */



/* ---- Why-Pathdata Start ---- */

.why_pathdata {
    padding: 80px 100px 80px;
    background: linear-gradient(90deg, rgb(82 110 242 / 1%) 0%, rgb(134 164 255 / 1%) 100%);
    position: relative;
}

.why_pathdata::after {
    position: absolute;
    content: url("../../../assets/images/why_pathdata_arrow.png");
    right: 0;
    top: 62%;
    transform: translateY(-50%);
}

.why_pathdata .row {
    /* background-image: url("../../../assets/images/why_pathdata_arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}


.why_pathdata .right .title {
    font-family: var(--popping);
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 10px;
}


.why_pathdata .right .description {
    font-family: var(--popping);
    font-size: 24px;
    font-weight: 600;
    color: #E0E0E0;
}

.why_pathdata .right ul {
    margin-top: 24px;
}

.why_pathdata .right ul li {
    background-image: url("../../../assets/images/why_true.png");
    background-repeat: no-repeat;
    background-size: 26px 26px;
    padding-left: 36px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.why_pathdata .right ul li .description {
    font-weight: 400;
    font-size: 20px;
}


@media (max-width: 1399px) {
    .why_pathdata {
        padding: 80px 80px 60px;
    }

}

@media (max-width: 1199px) {
    .why_pathdata {
        padding: 80px 60px 60px;
    }

    .why_pathdata .right .title {
        font-size: 34px;
    }

    .why_pathdata .right ul {
        margin-top: 20px;
    }

    .why_pathdata .right ul li {
        background-size: 26px 26px;
        margin-bottom: 14px;
    }

    .why_pathdata .description {
        font-size: 18px;
    }

    .why_pathdata .right .description {
        font-size: 22px;
    }

    .why_pathdata .right ul li .description {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .why_pathdata::after {
        top: 55%;
    }
}

@media (max-width: 890px) {
    .why_pathdata::after {
        top: 47%;
        width: 66%;
    }
}


@media (max-width: 767px) {
    .why_pathdata {
        padding: 60px 50px 60px;
    }

    .why_pathdata::after {
        content: none;
    }

    .why_pathdata .row {
        background-image: none;
    }

    .why_pathdata .right .title {
        font-size: 32px;
    }

    .why_pathdata .right ul {
        margin-top: 22px;
    }

    .why_pathdata .right ul li {
        background-size: 22px 22px;
        margin-bottom: 16px;
    }

    .why_pathdata .description {
        font-size: 17px;
    }

    .why_pathdata .right .description {
        font-size: 21px;
    }

    .why_pathdata .right ul li .description {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .why_pathdata {
        padding: 50px 30px 30px;
    }

    .why_pathdata .right .title {
        font-size: 28px;
    }

    .why_pathdata .right ul {
        margin-top: 20px;
    }

    .why_pathdata .right ul li {
        background-size: 20px 20px;
        margin-bottom: 12px;
    }

    .why_pathdata .description {
        font-size: 16px;
    }

    .why_pathdata .right .description {
        font-size: 20px;
    }

    .why_pathdata .right ul li .description {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .why_pathdata {
        padding: 40px 25px 20px;
    }
}

/* ---- Why-Pathdata End ---- */




.inevitable.turningdata {}