/* ---- Copyright Start ---- */
.copyright {
    /* background: linear-gradient(90deg, rgb(82 110 242 / 1%) 0%, rgb(134 164 255 / 1%) 100%); */
    background-image: url("../../assets/images/cruels.png");
    background-repeat: no-repeat;
    background-size: 100% 85%;
    padding: 85px 100px 120px;
    position: relative;
}

/* .copyright .social {
    position: absolute;
    top: -25px;
    transform: translateX(-50%);
    left: 50%;
} */

.copyright .title {
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    padding: 15px 25px;
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}


.copyright p {
    font-family: var(--popping);
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    margin-block: 25px 40px;
}

.copyright p span {
    background: linear-gradient(178.68deg, #FFFFFF 10.37%, #526EF2 146.85%);
    -webkit-background-clip: text;
    color: transparent;
}

.copyright form .form-control {
    border: 1px solid #86A4FF26;
    background: #060820;
    border-radius: 7px;
    font-family: var(--popping);
    width: 20%;
    padding: 18px 12px;
    font-size: 16px;
    color: #DADADA;
}

.copyright form .form-control::placeholder {
    color: #DADADA;
}

.copyright form .form-control:focus {
    box-shadow: none;
}

.copyright form .main-button {
    border-radius: 7px;
    padding: 15px 24px;
    background: linear-gradient(95.08deg, #4361ee 11.21%, #738bff 90.73%);
}



@media (max-width: 1399px) {
    .copyright {
        padding: 75px 80px 60px;
    }
}

@media (max-width: 1299px) {}

@media (max-width: 1199px) {
    .copyright {
        padding: 65px 60px 60px;
    }

    .copyright p {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .copyright {
        padding: 65px 50px 50px;
    }

    .copyright p {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .copyright {
        padding: 65px 30px 30px;
    }

    .copyright p {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .copyright {
        padding: 65px 25px 30px;
    }
}


/* ---- Copyright End ---- */

footer.s {
    padding: 35px 60px 35px
}

footer .first .book-btn {
    background: transparent;
}

footer .first .book-btn:hover {
    background: transparent;
}

footer .copy {
    font-family: var(--popping);
    font-weight: 300;
    ;
    font-size: 18px;
    color: #848484;
    margin-top: 60px;
}