/* ---- Copyright Start ---- */
.copyright {
    /* background: linear-gradient(90deg, rgb(82 110 242 / 1%) 0%, rgb(134 164 255 / 1%) 100%); */
    background-image: url("../../assets/images/cruels.png");
    background-repeat: no-repeat;
    background-size: 100% 85%;
    padding: 85px 100px 120px;
    position: relative;
}

/* .copyright .social {
    position: absolute;
    top: -25px;
    transform: translateX(-50%);
    left: 50%;
} */

.copyright .title {
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    padding: 15px 25px;
    font-family: var(--popping);
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}


.copyright p {
    font-family: var(--popping);
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    margin-block: 25px 40px;
}

.copyright p span {
    background: linear-gradient(178.68deg, #FFFFFF 10.37%, #526EF2 146.85%);
    -webkit-background-clip: text;
    color: transparent;
}

.copyright form .form-control {
    border: 1px solid #86A4FF26;
    background: #060820;
    border-radius: 7px;
    font-family: var(--popping);
    max-width: 375px;
    padding: 18px 12px;
    font-size: 16px;
    color: #DADADA;
}

.copyright form .form-control::placeholder {
    color: #DADADA;
}

.copyright form .form-control:focus {
    box-shadow: none;
}

.copyright form .main-button {
    border-radius: 7px;
    padding: 15px 24px;
    background: linear-gradient(95.08deg, #4361ee 11.21%, #738bff 90.73%);
}



@media (max-width: 1399px) {
    .copyright {
        padding: 75px 80px 60px;
    }
}

@media (max-width: 1299px) {}

@media (max-width: 1199px) {
    .copyright {
        padding: 65px 60px 60px;
    }

    .copyright p {
        font-size: 32px;
    }
}

@media (max-width: 991px) {
    .copyright .title {
        font-size: 17px;
    }

    .copyright p {
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    .copyright {
        padding: 65px 50px 50px;
    }

    .copyright p {
        font-size: 24px;
    }

    .copyright .title {
        padding: 13px 20px;
    }

    .copyright form .form-control {
        max-width: 275px;
    }
}

@media (max-width: 575px) {
    .copyright {
        padding: 65px 30px 30px;
    }

    .copyright p {
        font-size: 20px;
    }

    .copyright .title {
        font-size: 16px;
    }

    .copyright form .form-control {
        padding: 14px 12px;
        max-width: 231px;
    }

    .copyright form .main-button {
        padding: 14px 20px;
    }
}

@media (max-width: 425px) {
    .copyright {
        padding: 65px 25px 30px;
    }

    .copyright p {
        font-size: 18px;
    }

    .copyright form .form-control {
        padding: 12px 12px;
        max-width: 200px;
    }

    .copyright form .main-button {
        padding: 12px 17px;
    }
}


/* ---- Copyright End ---- */

footer.s {
    padding: 35px 60px 35px
}

footer .first .book-btn {
    background: transparent;
}

footer .first .book-btn:hover {
    background: transparent;
}

footer.s .first .book-btn.new {
    background: transparent;
    position: relative;
    z-index: 1;
    outline: 0;
    padding: 12px 20px;
}

footer.s .first .book-btn.new:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    /* border thickness */
    background: linear-gradient(95.08deg, #4361ee 11.21%, #738bff 90.73%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}


footer .copy {
    font-family: var(--popping);
    font-weight: 300;
    font-size: 18px;
    color: #848484;
    margin-top: 60px;
}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {
    footer .copy {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    footer.s {
        padding: 35px 50px 35px
    }

    footer .copy {
        font-size: 16px;
        margin-top: 50px;
    }
}

@media (max-width: 575px) {
    footer.s {
        padding: 35px 30px 35px
    }

    footer.s .menu ul li a {
        padding: 12px 20px 12px 20px !important;
    }
}

@media (max-width: 425px) {
    footer.s {
        padding: 35px 25px 35px
    }
}


/* ---- Contact-Us Start ---- */
.copyright.contact p {
    margin-top: 0;
}


.copyright.contact .description {
    max-width: 80%;
    line-height: 30px;
}

.copyright.contact .description a {
    text-decoration: underline;
    color: #4361EE !important;
}

.copyright.contact .description:nth-of-type(1) {
    margin-bottom: 25px;
}

.copyright.contact .description:nth-of-type(2) {
    margin-bottom: 55px;
}

.copyright.contact .book-btn.wd {
    outline: 0;
    background: linear-gradient(95.08deg, #4361ee 11.21%, #738bff 90.73%);
    padding-inline: 40px;
    margin-top: 40px;
}


/* ---- Contact-Us End ---- */